/* @import "~react-image-gallery/styles/css/image-gallery.css"; */

.content-area p, li{
    font-size: 0.9rem;
    font-weight: 400;
}


#about, #work, #projects{
    padding: 0em 3em;
}

#about, #work, #projects{
    color: #1a1d23;
}

#certifications{
    color: #1a1d23;
}
