/* @import "~react-image-gallery/styles/css/image-gallery.css"; */

.content-area p, li{
    font-size: 0.9rem;
    font-weight: 400;
}


#about, #work, #projects, #certifications{
    padding: 2em 3em;
    color: #1a1d23;
}

@media screen and (max-width: 768px) {
    #about, #work, #projects, #certifications{
        padding: 0em 1em;
    }
    #certifications{
        width: 90%;
        margin-left: 2em;
    }
  }
  @media screen and (max-width: 480px) {
    #certifications{
        width: 100%;
    }
}

.carousel .control-dots{
    z-index: auto;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    z-index: auto;
}