/* @import "~react-image-gallery/styles/css/image-gallery.css"; */

.content-area{
    height: 100vh;
}
.content-area p, li{
    font-size: 0.9rem;
    font-weight: 400;
}


#about, #work, #projects, #certifications, #casestudies{
    padding: 2em 3em;
    color: #1a1d23;
}

section{
    height: 100vh;
}

.casestudy-iframe{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80vh;
}

.open-to-work{
    background:linear-gradient(270deg, #b472dbff, #a480dfff, #9fa0e2ff, #98bce8ff, #95caecff, #92d9eeff, #9ae2edff, #a1ececff, #aaf6eaff, #b3ffe9ff);
    padding: 0.75em;
    border-radius: 0.5em;
    text-align: center;
    color: white;
    bottom: 2em;
    position:static;
    margin: 2em;
}

.techstack{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.techstack .tech{
    /* padding: 1em; */
    margin: 0.3em 1em;
    border-radius: 0.5em;
    background-color: white;
    border-radius: 1em;
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: 2px 5px 5px 2px rgba(53, 63, 68, 0.08);
}
.techstack .tech .tech-icon{
    width: auto;
    height: 4em;
}

@media screen and (max-width: 768px) {
    #about, #work, #projects, #certifications #casestudies{
        padding: 0em 1em;
    }
    #certifications #casestudies{
        width: 90%;
    }
    .casestudy-iframe{
        height: 40vh;
    }
    .techstack{
        margin: 0 1em;
    }
    .techstack .tech{
        margin: 0.15em;
        width: 4em;
        height: 4em;
    }
  }
  @media screen and (max-width: 480px) {
    #certifications #casestudies{
        width: 100%;
    }
    section{
        width: 100%;
    }
}

.carousel .control-dots{
    z-index: auto;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    z-index: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.755);
    color: #000000;
    text-align: center;
    border-radius: 0.15em;
    padding: 0.125em 0.5em;
    box-shadow: 2px 5px 5px 2px rgba(53, 63, 68, 0.08);
    font-size:small;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
