@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap');

/* Timeline Container */
.timeline {
    background: var(--primary-color);
    margin: 10px auto;
    padding: 10px;
  }
  
  /* Card container */
  .card {
    position: relative;
    max-width: 90%; 
    padding: 1em;
  }
  
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 49.6%;
  }
 
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #fff, #fff,#f7fafd);
    color: gray;
    border-radius: 20px;
    padding: 10px;
    font-size: 0.8rem;
    box-shadow:rgba(53, 63, 68, 0.08) 0px 50px 100px -20px, rgba(53, 63, 68, 0.08) 0px 30px 60px -30px;
  }

  .info p {
    padding: 0em 1.5em;
    margin: 0;
  }
  
  /* Title of the card */
  .title {
    color: #333;
    position: relative;
    font-weight: 600;
    padding-left: 1em;
    padding-right: 1em;
  }

  .subtitle{
    color: rgb(92, 125, 154);
    font-size: 0.4rem;
  }
  
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: left;
  }

  .role{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(67, 62, 62);
  }

  .Collapsible__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    padding:  0rem 3rem;
  }
  
  .Collapsible__trigger.is-open span {
    transform: rotate(180deg);
  }

  @media screen and (max-width: 768px) {
    .Collapsible__trigger {
      font-size: smaller;
      padding:  0 1.5rem;
    }
  }